# Database
DATABASE_URL="postgresql://user:password@host:5432/database?sslmode=require"

# Editor Auth
EDITOR_PASSWORD="novia1234"

# Next.js
NEXT_PUBLIC_SITE_URL="https://novia.prasapp.com"
PORT=3000
HOST=0.0.0.0